body {
    background-color: rgba(67, 64, 64, 0.274);
    color: rgb(1, 1, 1);
}

.heading-row-left {
  display: flex;
  align-items: center;
  gap: 350px;
}


.heading-row-right {
  display: flex;
  align-items:center;
  gap: 40px; 
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 2em;
}

.circle-frame {
    width: 200px;          
    height: 200px;
    border-radius: 50%;    
    overflow: hidden;    
    border: 6px solid #333; 
}

.circle-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;   
}